<h2>My Keywords</h2>

<%= link_to 'Add a New Keyword', new_keyword_path, class:"btn btn-outline-success" %>
<%= link_to "Delete all my keywords", keywords_index_path, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
<br/><br/>

<table class="table table-hover table-light">

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><h5><%= keyword.word %></h5></td>
        <td><%= link_to 'Delete', keyword, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>